#lbtitle {
    color: blueviolet;
    font-size: 30px;
}

#rbllan{
    color: blue;
}

#ddlty{
    color: forestgreen;
}

#btsubmit {
    background: aliceblue;
}

#lbselres{
    color:red;
    font-size: 18px;
}